html{
    box-sizing: border-box;
  }
  body {
    margin: 0;
    background-color:white;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
  
  }
  
  h1,h2,h3,h4,h5,p{
    font-family: "Roboto",Helvetica,Arial,sans-serif;
  }
  .black{
    color: black;

  }
  .purple{
    color: purple;
    
  }
  .green{
    color: green;
    
  }
  .blue{
    color: blue;
    
  }
  .red{
    color:red
  }

  /*header styles*/
  .navOuter{
    background: linear-gradient(to right, #2c58ba,#1b3c7d);
    color:#fff;
  }
  
  
  .navItems ul {
    list-style-type: none;
    margin-bottom: 1rem;;
    padding: 0;
    overflow: hidden;
    background-color:#0562e8;
    border: 0.2em solid #0b4dad;
  }
  
  .navItems li {
    display: inline-block;
    padding:0.5rem;
    font-size: 1rem;
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
  }
  
  .navItems li a:hover {
    background-color:white;
    color: #0b4dad;
  }
  
  .btn-center{
    text-align: center
  }
  .btn{
    border-radius: 5px;
    width: auto;
    min-width: 100px;
    border: 1px solid #0b4dad;
    line-height: 40px;
    font-size: 13pt;
    color: #fff;
    background: #0562e8;
    outline: 0;
    box-shadow: none;
    transition: .4s ease all;
    padding: 0 1.5rem;
    font-weight: normal;
    text-decoration: none;
  }
  /*search bar css*/
  .navItems .searchQuery{
    width: 465px;
    float: right;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    padding: 0;
    margin: 1em;
  }
 .searchQuery input{

display: inline-block;

float: left;

font-size: 1em;

height: 20px;

line-height: 24px;

width: 95%;

color:
#696E79;
box-sizing: content-box;

padding: 8px 10px 10px 10px;

margin: 0;

outline: 0;

border: 1px solid
#F5F5F6;
border-radius: 0 4px 4px 0;


    border-left-color: rgb(245, 245, 246);
    border-left-style: solid;
    border-left-width: 1px;

background:
#F5F5F6;
  }
 .searchQuery a{
  box-sizing: content-box;

display: inline-block;

height: 28px;

width: 40px;

text-align: center;

padding: 8px 0 2px 0;

background:
#F5F5F6;

border: 1px solid
#F5F5F6;

    border-right-color: rgb(245, 245, 246);
    border-right-style: solid;
    border-right-width: 1px;

border-right: none;

-webkit-border-radius: 4px 0 0 4px;

-moz-border-radius: 4px 0 0 4px;

border-radius: 4px 0 0 4px;

position: absolute;

left: -41px;
  }

.searchQuery .searchSubmit span{
  display: inline-block;
  transform: scale(0.7);
  width: 21px;

height: 21px;

background-position: -754px 0;
color: #0b4dad;
  }  
/*products styles*/
  .productsMain h2{
    text-align: center;
    font-weight: bold;
    color:#0b4dad;
    font-size: 1.5em;
    padding-top: 1em;
  }

  .main-content {
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 1rem;
    padding: 1rem;
    grid-row-gap: 0.6rem;
    grid-column-gap: 0.6rem;
}

.productsCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, .87);
}

.ProductCardName {
    color: rgba(0, 0, 0, .87);
    font-size: 25px;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
}

.productCardList {
    color:#0b4dad;
    font-size: 20px;
    margin-bottom: 1rem;
    padding: 1rem;

}

/*sorting styles*/
.sortingMain{
  border-bottom:1px solid #cccccc;
}
.sortingInner {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;  
}

.sortingInner .sortingList {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.sortBtn {
  border: 1px solid#0b4dad;
  color: #0b4dad;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 21px 2px#142bfd1a;
padding: 1rem;
text-align: center;
background: white;
}

.sortBtn:hover {

    background: -webkit-linear-gradient(left, #2c58ba, #1b3c7d);
    background: linear-gradient(to right, #2c58ba,#1b3c7d);

color:  #fff;
}

/*filter css*/
.sidenav {
    background-color: white;
    color: rgb(34, 28, 28);
    height: auto;
    border-right:1px solid #cccccc;
}


.sidenav h2{
  font-weight:bold;
  color: #0b4dad;
  font-size: 1.4em;
  padding-left:1.5em;
  padding-top: 1em;;
  

}
.sidenav fieldset{
  border-bottom:1px solid #cccccc;
  margin-top: 0.5em;
  padding-left:2em;
  padding-bottom: 1em;
}
.sidenav fieldset legend{
  font-size: 1.2em;
padding-bottom: 0.5em;
}
.places-block{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.2rem;
    grid-row-gap: 0.2rem;
    padding: 0 4em;  
}

.productCard{
  background-color:white;
  margin: 1rem 1rem;
  background: #ffffff;
  border-radius: 0.6em;
  box-shadow: 0 0 21px 2px #142bfd1a;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
} 

.content_x{
  padding:1rem;
}
.content_x .p-heading{
  font-weight: bnormallder;
  font-size: 1.2em;
  color: #0b4dad;
}

.content_x .heart-red{
  color: red;
}
.favBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  opacity: 0.7;
  color: rgb(63, 46, 46);
  border:none;
  background: none;
}

.favBtn:hover {
  opacity: 1;
  color: rgb(216, 51, 51);
}
.content_x span{
  color: grey;
  font-size:0.9em;
}
/*footer css*/

.footer-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color:#0b4dad;
  color: white;
  padding-top: 1.5 rem;   
  }
.icons{
  font-size: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}
.createdby{
  text-align: center;
}
.createdby p{
  font-size: 1.4em;
  margin-top: 1.2em;
}

.icons{
  display: block;
  text-decoration: none;
}
.icons ul li{
  color: white;
  display: inline-block;
}
.icons ul li i{
  margin-right: 2em;
  line-height: 2em;
  color: white;
}

.icons ul{
  line-height: 1em;
   margin: 0;
}
@media screen and (max-width:500px) {
  .footer-grid{
    grid-template-columns: 1fr; 
    }
}
@media screen and (max-width:927px) and (min-width:501px){
  .footer-grid{
    grid-template-columns: 1fr; 
    }
     
}

@media screen and (max-width:1128px) and (min-width:928px){
 

  
}